<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestMasterDetail.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2D0CA5FD1E50BBD100D99FF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D0CA6131E50BBD100D99FF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D0CA61E1E50BBD100D99FF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
