<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>맥북프로레티나</string>
		<key>amount</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>삼성아티브북9</string>
		<key>amount</key>
		<integer>80</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>갤럭시 S5</string>
		<key>amount</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>amount</key>
		<integer>15</integer>
		<key>name</key>
		<string>HP F2020T</string>
	</dict>
</array>
</plist>
